.tabs {
    // .tabs__navigation
    &__navigation {
        display: flex;
    }
    // .tabs__title
    &__title {
        padding: rem(10) rem(15);
        border: 1px solid #eee;
        border-radius: rem(5);
        &._tab-active {
            border: 1px solid #000;
        }
    }
    // .tabs__content
    &__content {
        padding: rem(10) rem(15);
        border: 1px solid #eee;
    }
    // .tabs__body
    &__body {
    }
}
