// <BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
    padding: 12px 41px;
    font-weight: 600;
    line-height: 140%;
    color: #fff;
    border: 1px solid #961914;
    border-radius: 8px;
    transition: all 0.3s ease;
    &_red {
        background-color: $redColor;
        @media (any-hover: hover) {
            &:hover {
                background-color: #75110d;
                border: 1px solid #75110d;
            }
        }
    }
    &._fw {
        width: 100%;
    }
}
