// <FORM>
.contact-form {
    &__title {
        margin-bottom: rem(4);
        font-size: rem(20);
        font-weight: 600;
        line-height: 140%;
        color: #fff;
    }
    &__text {
        margin-bottom: rem(34);
        line-height: 140%;
        &_color {
            &_white {
                color: #fff;
            }
        }
    }
    &__fields {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 24px;
        justify-content: space-between;
    }
    &__block {
        display: flex;
        flex: 0 0 calc(50% - 12px);
        flex-wrap: wrap;
        row-gap: rem(16);
        column-gap: rem(16);
        align-content: flex-start;
        &_direction {
            &_column {
                flex-direction: column;
            }
        }
        @media (max-width: $mobile) {
            flex: 0 0 100%;
        }
    }
    &__options {
        margin-bottom: rem(10);
    }
    &__item {
        position: relative;
        &_large {
            flex: 0 0 100%;
        }
        &_basis-auto {
            flex: 0 1 auto;
        }
    }
    &__input {
        padding: 22px 14px 6px 14px;
        &_color {
            &_white {
                color: #fff;
                background-color: rgba(255, 255, 255, 0.05);
                border: 1px solid rgba(255, 255, 255, 0.5);
                @media (any-hover: hover) {
                    &:hover {
                        background-color: rgba(234, 209, 208, 0.2);
                    }
                }
                &:focus {
                    outline: 1px solid #fff;
                }
            }
            &_grey {
                background-color: #f4f5f5;
                border: 1px solid #f4f5f5;
            }
        }
    }
    &__textarea {
        padding: 8px 15px;
        @media (max-width: $mobile) {
            min-height: 100px;
        }
        &_color {
            &_white {
                color: #fff;
                background-color: rgba(255, 255, 255, 0.05);
                border: 1px solid rgba(255, 255, 255, 0.5);
                &::placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
                &:focus {
                    outline: 1px solid #fff;
                }
            }
            &_grey {
                color: $mainColor;
                background-color: #f4f5f5;
                &::placeholder {
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
    &__label {
        position: absolute;
        top: 14px;
        left: 15px;
        font-size: rem(14);
        pointer-events: none;
        transition: top 0.3s, font-size 0.3s;
        &_color {
            &_white {
                color: rgba(255, 255, 255, 0.6);
            }
            &_grey {
                color: rgba(0, 0, 0, 0.6);
            }
        }
        &._form-focus {
            top: 6px;
            font-size: rem(12);
        }
    }
    &__check {
        display: flex;
        align-items: center;
        max-width: 200px;
        cursor: pointer;
        @media (max-width: $tablet) {
            max-width: 100%;
            margin-bottom: 16px;
        }
        .calc-popup & {
            max-width: 100%;
        }
    }
    &__button {
        flex: 0 0 214px;
        @media (max-width: $mobileSmall) {
            flex: 0 0 100%;
        }
    }
}

// </FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
@import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";
