// <INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    appearance: none;
    resize: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

.input {
    display: block;
    width: 100%;
    font-size: rem(14);
    border-radius: 8px;
    transition: background-color 0.3s;
}