.delivery {
    @include adaptiveValue("padding-top", 180, 80);
    @include adaptiveValue("padding-bottom", 140, 40);
    &__title {
        position: relative;
        display: inline-block;
        @include adaptiveValue("margin-bottom", 80, 40);
    }
    &__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        @media (max-width: $tablet) {
            row-gap: 40px;
        }
        @media (max-width: em(575.98)) {
            flex-direction: column;
            padding-left: 30px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 100%;
                background: url("../img/delivery/arrow_mobile.svg") left top/contain no-repeat;
            }
        }
    }
    &__item {
        position: relative;
        flex: 0 0 calc(25% - 30px);
        &:not(:last-child)::after {
            content: "";
            position: absolute;
            top: 13px;
            right: 20px;
            width: 140px;
            height: 15px;
            background: url("../img/delivery/arrow.svg") center/contain no-repeat;
            @media (max-width: em(575.98)) {
                display: none;
            }
        }
        &:last-child {
            &::before {
                content: "";
                position: absolute;
                top: -28px;
                left: -26px;
                width: 37px;
                height: 33px;
                background: url("../img/splash.svg") no-repeat;
                @media (max-width: em(575.98)) {
                    top: -20px;
                    left: 20px;
                    transform: rotate(90deg);
                }
            }
        }
        @media (max-width: $tablet) {
            flex: 0 0 calc(50% - 20px);
        }
        @media (max-width: em(575.98)) {
            flex: 0 0 100%;
        }
    }
    &__icon {
        width: 40px;
        height: 40px;
        margin-bottom: rem(20);
    }
    &__subtitle {
        margin-bottom: rem(8);
    }
    &__desc {
        line-height: 140%;
    }
    &__button {
        display: inline-block;
        color: $redColor;
        border-bottom: 1px solid $redColor;
    }
}