/* stylelint-disable order/order */
/* stylelint-disable block-no-empty */
/* stylelint-disable plugin/selector-bem-pattern */
// ====================================================================================================
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 16px 0;
    transition: all 0.3s;
    &._header-scroll {
        @include adaptiveValue("height", 80, 60);
        padding: 0;
        background-color: #fff;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &__logo {
        position: relative;
        z-index: 5;
        display: block;
        @include adaptiveValue("width", 80, 60);
        height: auto;
        transition: all 0.3s ease;
        img {
            max-width: 100%;
        }
        ._header-scroll & {
            @include adaptiveValue("width", 60, 40);
        }
    }
}
.menu {
    padding-left: rem(10);
    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            top: 0;
            left: -100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 130px 0 60px;
            overflow: auto;
            background-color: #fff;
            transition: all 0.3s ease 0s;
            .menu-open & {
                left: 0;
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: rem(10);
        @include adaptiveValue("column-gap", 54, 15);
        justify-content: center;
        @media (max-width: $mobile) {
            flex-direction: column;
            row-gap: rem(50);
            margin-bottom: 110px;
            text-align: center;
        }
    }
    &__link {
        position: relative;
        padding: 4px 0;
        font-weight: 500;
        color: #fff;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: $redColor;
            transition: transform 0.5s;
            transform: scaleX(0);
            transform-origin: right;
        }
        ._header-scroll & {
            color: $mainColor;
        }
        @media (max-width: $mobile) {
            font-size: rem(24);
            font-weight: 600;
            color: $mainColor;
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
    &__button {
        display: none;
        @media (max-width: $mobile) {
            display: block;
        }
    }
}

// ====================================================================================================

// Burger

.icon-menu {
    display: none;
    ._header-scroll & {
        span,
        &::before,
        &::after {
            background-color: $mainColor;
        }
    }
    @media (max-width: $mobile) {
        position: relative;
        z-index: 5;
        display: block;
        width: rem(27);
        height: rem(16);
        span,
        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: rem(2);
            background-color: #fff;
            transition: all 0.3s ease;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before,
            &::after {
                background-color: $mainColor;
            }
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}